@import url("//at.alicdn.com/t/c/font_3962162_9jd97y187nl.css") ;
body{
    margin: 0;
}

a {
    text-decoration: none; /* 去除默认的下划线 */
    outline: none;	/* 去除旧版浏览器的点击后的外虚线框 */
    color: #000;	/* 去除默认的颜色和点击后变化的颜色 */
}

.flex {
    display: flex;
}
.flex_center{
    display: flex;
    justify-content: center ;
}
.h2 {
    font-size: 1.5em;
    font-weight: bold;
}
:focus{outline:0;}